:root {
  
  --clr-neutral-900: #ffffff;
  --clr-primary-400: #3b82f6;
  --clr-primary-500: #2563eb;

  --spacing-1: 4px;
  --spacing-2: 8px;
  --spacing-3: 12px;
  --spacing-4: 16px;
  --spacing-5: 28px;
  --spacing-6: 36px;
  --spacing-7: 44px;
  --spacing-8: 96px;
  --spacing-9: 160px;
  --spacing-10: 288px;

  --round-li: 8px;

  --text-sm: 0.875rem;
  --text-base: 1rem;
  --text-lg: 1.25rem;
  --text-xl: 1.875rem;

  --ff-roboto: 'Roboto', sans-serif;
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font: inherit;
}

body {
  min-height: 100vh;
  line-height: 1.4;
  text-rendering: optimizeSpeed;
}

img,
picture {
  max-width: 100%;
  display: block;
}

@media (prefers-reduced-motion: reduce) {
  html:focus-within {
    scroll-behavior: auto;
  }

  *,
  *::before,
  *::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}

body {
  background-color: var(--clr-neutral-900);
  font-family: var(--ff-roboto);
}
h1 {
  font-size: var(--text-xl);
}
h2 {
  font-size: var(--text-lg);
}
h1,
h2 {
  font-weight: bold;
}

.container {
  display: grid;
  grid-template-rows: var(--spacing-9)  1fr;
  grid-template-columns: var(--spacing-10) 1fr;
}
.sidebar {
  background-color: var(--clr-primary-400);
  color: var(--clr-neutral-900);
  grid-row: 1 / 3;
  grid-column: 1 / 2;
  font-weight: bold;
  padding-inline-start: var(--spacing-3);
  padding-block-start: var(--spacing-2);
  display: flex;
  flex-direction: column;
  gap: var(--spacing-5);
}

.nav-list {
  display: grid;
  gap: var(--spacing-2);
}
.nav-list > li {
  padding: var(--spacing-1);
  border-top-left-radius: var(--round-li);
  border-bottom-left-radius: var(--round-li);
  display: flex;
  gap: 1rem;
  align-items: center;
  cursor: pointer;
}
.nav-list > li:hover {
  background-color: var(--clr-primary-500);
}
.sidebar .logo {
  display: flex;
  gap: 1rem;
}
#dash-icon {
  width: var(--spacing-7);
}
#home-li {
  position: relative;
}
#home-li:hover {
  background: inherit;
}
#home-li::before {
  content: "";
  position: absolute;
  left: -50%;
  width: 100%;
  height: 100%;
  border-radius: var(--round-li);
  background-color: #ffffff5f;
}
.icon {
  width: var(--spacing-5);
}
.header {
  grid-column: 2 / 3;
}
.main-content {
  grid-column: 2 / 3;
  grid-row: 2 / 3;
}
